body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar{
  background-color: #3AC7FF;
}

.category-aktif {
  background-color: #3AC7FF;
  color: white;
}

.btn-primary {
  background-color: #3AC7FF;
}

@media only screen and (max-height: 1000px) {
  .pesanan {
    height: 430px;
  }
  
  .menu {
    height: 800px;
  }
}

.overflow-auto::-webkit-scrollbar{
  display: none;
}

.text-nama{
  font-size: 16px;
}

.text-harga{
  font-size: 14px;
}

.kategori-menu{
  margin-top: 3px;
  margin-left: 3px;
  font-size: 18px;
}

.pesanan-menu{
  font-size: 18px;
}

/* .img-menu{
  width: 250px;
  height: 160px;
} */

/* .card-menu{
  width: 252px;
  height: 250px;
  border-radius: 15px;
} */

.tombol-bayar{
  width: 277px;
  height: 50px;
  margin-bottom: 20px;
}