body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar{
  background-color: #3AC7FF;
}

.category-aktif {
  background-color: #3AC7FF;
  color: white;
}

.btn-primary {
  background-color: #3AC7FF;
}

@media only screen and (max-height: 1000px) {
  .hasil {
    height: 650px;
  }
  
  .menu {
    height: 800px;
  }
}

.overflow-auto::-webkit-scrollbar{
  display: none;
}

.text-nama{
  font-size: 16px;
}

.text-harga{
  font-size: 14px;
}